:root {
    --darkest: rgb(200, 40, 29);
    --darker: rgb(126, 29, 200);
    --lighter: rgb(29, 189, 200);
    --lightest: rgb(104, 200, 29);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

body {
    background-color: var(--lightest);
}

header {
    box-shadow: 0px 1px 5px black;
    overflow: hidden;
    padding: 10px;
    background-color: var(--darker);
}

.start-random-div {
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-random-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--darker);
    height: fit-content;
    padding: 20px;
    color: white;
    border-radius: 5px;
}

.start-random-btn:hover {
    cursor: pointer;
}

.start-random-btn > box-icon {
    margin-right: 10px;
}

.hide-me {
    display: none;
}

.question-div {
    margin: auto;
    margin-top: 40px;
    background-color: var(--darker);
    width: 500px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.question-h2 {
    color: white;
}

.difficulty-category-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    box-shadow: 0px 1px 5px black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.question-category-p, .question-difficulty-p {
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

.question-category {
    background-color: var(--darkest);
}

.question-choices-div {
    width: fit-content;
    margin: auto;
    padding: 10px 20px;
}

.question-h2 {
    margin-bottom: 20px;
    text-align: center;
}

.choices-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.choices {
    width: 50%;
    text-align: center;
    background-color: var(--lighter);
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
}

.choices:hover {
    cursor: pointer;
}